[submodule "biac-back-end"]
	path = biac-back-end
	url = https://github.com/Sheriefshabaa/biac-back-end
[submodule "biac_ui_system"]
	path = biac_ui_system
	url = https://github.com/Sheriefshabaa/biac_ui_system
[submodule "biac-ai-models"]
	path = biac-ai-models
	url = https://github.com/Sheriefshabaa/biac-ai-models
